Accepting health parameters with the form.json
[{"id":"b9a8197a.db9678","type":"tab","label":"Accepting health parameters with the form","disabled":false,"info":""},{"id":"8d5a63.80bca5a","type":"ui_form","z":"b9a8197a.db9678","name":"","label":"","group":"94d255a0.a337d8","order":1,"width":0,"height":0,"options":[{"label":"Age","value":"Age","type":"number","required":true,"rows":null},{"label":"Temperature","value":"Temperature","type":"number","required":true,"rows":null},{"label":"Systolic","value":"Systolic","type":"number","required":true,"rows":null},{"label":"Diastolic","value":"Diastolic","type":"number","required":true,"rows":null},{"label":"Pulse","value":"Pulse","type":"number","required":true,"rows":null}],"formValue":{"Age":"","Temperature":"","Systolic":"","Diastolic":"","Pulse":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":310,"y":260,"wires":[["a708fce6.169eb","3259072c.878b78"]]},{"id":"a708fce6.169eb","type":"debug","z":"b9a8197a.db9678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":320,"wires":[]},{"id":"3259072c.878b78","type":"function","z":"b9a8197a.db9678","name":"pre-token","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Systolic\",msg.payload.Systolic)\nglobal.set(\"Diastolic\",msg.payload.Diastolic)\nglobal.set(\"Pulse\",msg.payload.Pulse)\nvar apikey=\"smLOGVYz_mH1WPfky8rhJcrw25GLEy-KhDi7T-gZMnye\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["d685ea87.d231e8"]]},{"id":"d685ea87.d231e8","type":"http request","z":"b9a8197a.db9678","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":532.0000038146973,"y":224.00000286102295,"wires":[["9d8c76f3.044588","6df4b04e.8c1e8"]]},{"id":"9d8c76f3.044588","type":"debug","z":"b9a8197a.db9678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":280,"wires":[]},{"id":"6df4b04e.8c1e8","type":"function","z":"b9a8197a.db9678","name":"Pre Prediction","func":"var Age = global.get(\"Age\")\nvar Temperature = global.get(\"Temperature\")\nvar Systolic = global.get(\"Systolic\")\nvar Diastolic = global.get(\"Diastolic\")\nvar Pulse = global.get(\"Pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"]],\"values\": [[Age,Temperature,Systolic,Diastolic,Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":724.0000076293945,"y":176.0000021457672,"wires":[["f8a6ae11.c37a6"]]},{"id":"f8a6ae11.c37a6","type":"http request","z":"b9a8197a.db9678","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/e46c196d-67fd-4792-8645-6452a28efc05/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":200,"wires":[["f0106aca.946b98","7ae97179.ad1b6"]]},{"id":"f0106aca.946b98","type":"debug","z":"b9a8197a.db9678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":280,"wires":[]},{"id":"35b18c7a.d8e7f4","type":"inject","z":"b9a8197a.db9678","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":100,"wires":[["3259072c.878b78"]]},{"id":"f3cc9c6c.e6636","type":"debug","z":"b9a8197a.db9678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":933.9999885559082,"y":67.0000057220459,"wires":[]},{"id":"7ae97179.ad1b6","type":"function","z":"b9a8197a.db9678","name":"Parsing","func":"var Age = global.get ('Age')\nvar Temperature = global.get ('Temperature')\nvar Systolic = global.get ('Systolic')\nvar Diastolic = global.get ('Diastolic')\nvar Pulse = global.get ('Pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\ndetails: {\nhealth: {\nage: Age,\ntemperature: Temperature,\nsystolic: Systolic,\ndiastloic:Diastolic,\npulse: Pulse,\noutput: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":779.6000595092773,"y":108.00000190734863,"wires":[["f3cc9c6c.e6636","57c9bbbe.805a84"]]},{"id":"57c9bbbe.805a84","type":"ui_text","z":"b9a8197a.db9678","group":"94d255a0.a337d8","order":2,"width":"17","height":"5","name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":897.6000366210938,"y":341.20001220703125,"wires":[]},{"id":"94d255a0.a337d8","type":"ui_group","z":"","name":"IoT Health","tab":"c0792f2f.94036","order":3,"disp":true,"width":"17","collapse":false},{"id":"c0792f2f.94036","type":"ui_tab","z":"","name":"Health monitor","icon":"dashboard","disabled":false,"hidden":false}]