Collecting the health parameters from the IoT online simulator.json
[{"id":"db7593f7.8cdd5","type":"tab","label":"Collecting the health parameters from the IoT online simulator","disabled":false,"info":""},{"id":"ba600cd3.88006","type":"http request","z":"db7593f7.8cdd5","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":400,"wires":[["ade6829.624108","891194e.86f3868"]]},{"id":"a488e41a.fd0368","type":"function","z":"db7593f7.8cdd5","name":"Pre-tocken","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Systolic\",msg.payload.Systolic)\nglobal.set(\"Diastolic\",msg.payload.Diastolic)\nglobal.set(\"Pulse\",msg.payload.Pulse)\nvar apikey=\"smLOGVYz_mH1WPfky8rhJcrw25GLEy-KhDi7T-gZMnye\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":300,"wires":[["ba600cd3.88006"]]},{"id":"ade6829.624108","type":"function","z":"db7593f7.8cdd5","name":"Pre-Prediction","func":"var Age = global.get(\"Age\")\nvar Temperature = global.get(\"Temperature\")\nvar Systolic = global.get(\"Systolic\")\nvar Diastolic = global.get(\"Diastolic\")\nvar Pulse = global.get(\"Pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"]],\"values\": [[Age, Temperature, Systolic, Diastolic, Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":360,"wires":[["3aa2a8fd.951808"]]},{"id":"891194e.86f3868","type":"debug","z":"db7593f7.8cdd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"4c544e9c.ea296","type":"function","z":"db7593f7.8cdd5","name":"","func":"var Age = global.get ('Age')\nvar Temperature = global.get ('Temperature')\nvar Systolic = global.get ('Systolic')\nvar Diastolic = global.get ('Diastolic')\nvar Pulse = global.get ('Pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n health: {\n Age: Age,\n temperature: Temperature,\n systolic: Systolic,\n diastloic:Diastolic,\n pulse: Pulse,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["605b21e8.2dd01","878dd352.f5f69"]]},{"id":"3aa2a8fd.951808","type":"http request","z":"db7593f7.8cdd5","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/e46c196d-67fd-4792-8645-6452a28efc05/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":420,"wires":[["4c544e9c.ea296","1411aec6.bad5f1"]]},{"id":"1411aec6.bad5f1","type":"debug","z":"db7593f7.8cdd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"878dd352.f5f69","type":"debug","z":"db7593f7.8cdd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"605b21e8.2dd01","type":"ui_text","z":"db7593f7.8cdd5","group":"94d255a0.a337d8","order":6,"width":"16","height":"3","name":"","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":930,"y":220,"wires":[]},{"id":"5a5e237b.b6e64c","type":"inject","z":"db7593f7.8cdd5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":80,"y":320,"wires":[["a488e41a.fd0368"]]},{"id":"82b8e65.54f8418","type":"ui_gauge","z":"db7593f7.8cdd5","name":"","group":"94d255a0.a337d8","order":1,"width":"3","height":"2","gtype":"gage","title":"Temperature","label":"Degree","format":"{{msg.payload.Temperature}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":100,"wires":[]},{"id":"bfd78fdb.84406","type":"ui_gauge","z":"db7593f7.8cdd5","name":"","group":"94d255a0.a337d8","order":2,"width":"3","height":"2","gtype":"gage","title":"Diastolic","label":"units","format":"{{msg.payload.Diastolic}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":200,"wires":[]},{"id":"ad19aa36.1ec708","type":"ui_gauge","z":"db7593f7.8cdd5","name":"","group":"94d255a0.a337d8","order":3,"width":"3","height":"2","gtype":"gage","title":"Systolic","label":"units","format":"{{msg.payload.Systolic}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":160,"wires":[]},{"id":"68e18af4.f66b14","type":"ui_gauge","z":"db7593f7.8cdd5","name":"","group":"94d255a0.a337d8","order":4,"width":"3","height":"2","gtype":"gage","title":"Age","label":"","format":"{{msg.payload.Age}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":60,"wires":[]},{"id":"8e05ac98.6dd7b","type":"ui_gauge","z":"db7593f7.8cdd5","name":"","group":"94d255a0.a337d8","order":5,"width":"3","height":"2","gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.Pulse}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":260,"wires":[]},{"id":"840b64c6.5a5878","type":"ibmiot in","z":"db7593f7.8cdd5","authentication":"apiKey","apiKey":"c3016f19.8a1c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"RSYM","applicationId":"","deviceType":"RaspberryPI","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["a488e41a.fd0368","68e18af4.f66b14","82b8e65.54f8418","ad19aa36.1ec708","bfd78fdb.84406","8e05ac98.6dd7b","1e176de2.a76d42"]]},{"id":"1e176de2.a76d42","type":"ui_form","z":"db7593f7.8cdd5","name":"","label":"","group":"94d255a0.a337d8","order":1,"width":"0","height":"0","options":[{"label":"Age","value":"Age","type":"number","required":true,"rows":null},{"label":"Temperature","value":"Temperature","type":"number","required":true,"rows":null},{"label":"Systolic","value":"Systolic","type":"number","required":true,"rows":null},{"label":"Diastolic","value":"Diastolic","type":"number","required":true,"rows":null},{"label":"Pulse","value":"Pulse","type":"number","required":true,"rows":null}],"formValue":{"Age":"","Temperature":"","Systolic":"","Diastolic":"","Pulse":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":460,"wires":[["a488e41a.fd0368"]]},{"id":"94d255a0.a337d8","type":"ui_group","z":"","name":"IoT Health","tab":"c0792f2f.94036","order":3,"disp":true,"width":"17","collapse":false},{"id":"c3016f19.8a1c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"fgc20h.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"c0792f2f.94036","type":"ui_tab","z":"","name":"Health monitor","icon":"dashboard","disabled":false,"hidden":false}]