IoT device connected to cloudant to store data.json
[{"id":"5a441440.41d86c","type":"tab","label":"Storing IoT data in Cloudant","disabled":false,"info":""},{"id":"e97233a8.f5633","type":"ibmiot in","z":"5a441440.41d86c","authentication":"apiKey","apiKey":"c3016f19.8a1c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"RSYM","applicationId":"","deviceType":"RaspberryPI","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["c6b065af.ef77e8","c42231a5.278e1","d0e78735.56d3e8","e32ccfef.efb98","351de224.f101be","5d72436f.5a2d0c"]]},{"id":"5d72436f.5a2d0c","type":"cloudant out","z":"5a441440.41d86c","name":"","cloudant":"","database":"iotremotehealthdata","service":"node-red-ydjte-2020--cloudant-1602152484266-41585","payonly":true,"operation":"insert","x":300,"y":320,"wires":[]},{"id":"c6b065af.ef77e8","type":"ui_gauge","z":"5a441440.41d86c","name":"","group":"94d255a0.a337d8","order":4,"width":"3","height":"2","gtype":"gage","title":"Age","label":"","format":"{{msg.payload.Age}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":80,"wires":[]},{"id":"d0e78735.56d3e8","type":"ui_gauge","z":"5a441440.41d86c","name":"","group":"94d255a0.a337d8","order":1,"width":"3","height":"2","gtype":"gage","title":"Temperature","label":"Degree","format":"{{msg.payload.Temperature}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":140,"wires":[]},{"id":"c42231a5.278e1","type":"ui_gauge","z":"5a441440.41d86c","name":"","group":"94d255a0.a337d8","order":3,"width":"3","height":"2","gtype":"gage","title":"Systolic","label":"units","format":"{{msg.payload.Systolic}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":120,"wires":[]},{"id":"e32ccfef.efb98","type":"ui_gauge","z":"5a441440.41d86c","name":"","group":"94d255a0.a337d8","order":2,"width":"3","height":"2","gtype":"gage","title":"Diastolic","label":"units","format":"{{msg.payload.Diastolic}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":200,"wires":[]},{"id":"351de224.f101be","type":"ui_gauge","z":"5a441440.41d86c","name":"","group":"94d255a0.a337d8","order":5,"width":"3","height":"2","gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.Pulse}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":260,"wires":[]},{"id":"c3016f19.8a1c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"fgc20h.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"94d255a0.a337d8","type":"ui_group","z":"","name":"IoT Health","tab":"c0792f2f.94036","order":3,"disp":true,"width":"17","collapse":false},{"id":"c0792f2f.94036","type":"ui_tab","z":"","name":"Health monitor","icon":"dashboard","disabled":false,"hidden":false}]